html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 725px;
    height: 4.375rem;
    margin: 0 auto;
    padding: 0px 15px;
    border: 0px;
    vertical-align: baseline;
    display: inline-block;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

a:hover,
a:focus
{
color: green;
}

/*Typography Declartions*/
.top-font >.font {
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #838994;
letter-spacing: 0.03em;
}

.introduction {
    background-image: url('..images/background.jpeg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
    margin-top: center;
}

.content {
color: white;
width: 725px;
margin: 0 auto;
}

button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    border-color: #cf3d0e;
    padding: 1rem 1.5rem;
    background-color: #d9400e;
    width: 9.688rem;
    color: white;
    font-size: 1.125rem;


}